$font-body: "Inter", sans-serif;
$font-heading: "Ultra", serif;

// Colors

$c-pink: #f0f;
$c-dark-pink: rgb(134, 0, 134);
$c-navy: #192542;
$c-navy-overlay: rgba(25, 37, 66, 0.7);
$c-white: #fff;
$c-blue: #00f;

//Border
$border-radius: 0.375rem;

//Container
$narrow-container: 650px;
